{% extends 'common/main.html' %}

{% block content %}
<h1>Member Details</h1>

    {% if member %}
        <h1> General Details </h1><br>     
        ID : {{member.memberId}}<br>
        Name : {{member.name}}<br>
        Gender : {{member.gender}}<br>
        Date of Birth : {{member.dateOfBirth}}<br>
        Address : {{member.address}}<br>
        Occupation : {{member.occupation}}<br>
        Contact Number 1 : {{member.contactNumber}}<br>
        Contact Number 2 : {{member.secondaryContactNumber}}<br>

        <h1> Location Details </h1><br>
        City : {{member.city}}<br>
        Road : {{member.road}}<br>
        Lane : {{member.lane}}<br>
        House/Apt Number : {{member.houseAptNo}}<br>
        Area : {{member.area}}<br>
        Sub Area : {{member.subarea}}<br>
        District : {{member.district}}<br>
        Province : {{member.province}}<br>

        <h1>Meditation Status </h1><br>
        Gojukai Status: {{member.gojukaiStatus}}<br>
        Recieved Date: {{member.gojukaiReceivedDate}}<br>
        Venue: {{member.gojukaiVenue}}<br>
        Gohonzon Status: {{member.gohonzonStatus}}<br>
        Recieved Date: {{member.gohonzonReceivedDate}}<br>
        Venue: {{member.gohonzonVenue}}<br>
    {% else  %}
        <h1> NO DATA AVAILABLE OR SERVER DOWN</h1>
    {% endif %}

{% endblock %}