{% extends 'common/main.html' %}

{% load static %}


{% block content %}
              {% if messages %}
              <div class="alert success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {% for message in messages %}
                        <center>{{ message }}</center>
                {% endfor %}
              </div>
              {% endif %}
    <section class="u-clearfix u-section-1" id="sec-4df9">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-align-left u-black u-border-3 u-border-grey-40 u-container-style u-group u-radius-30 u-shape-round u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <div class="u-align-center u-form u-form-1">
              <form action="{% url 'member-search' %}" method="POST" source="custom" name="form" style="padding: 10px;">
                {% csrf_token %}
                <div class="u-form-group u-form-name">
                  <label for="name-6d59" class="u-form-control-hidden u-label"></label>
                  <input type="text" placeholder="Membership Number" id="name-6d59" name="membershipNumber" class="u-border-1 u-border-grey-30 u-grey-10 u-input u-input-rectangle u-radius-29">
                </div>
                <div class="u-form-group u-form-phone">
                  <label for="email-6d59" class="u-form-control-hidden u-label"></label>
                  <input type="tel" placeholder="Mobile Number" id="email-6d59" name="contactNumber" class="u-border-1 u-border-grey-30 u-grey-10 u-input u-input-rectangle u-radius-29">
                </div>
                <div class="u-form-group">
                  <label for="message-6d59" class="u-form-control-hidden u-label"></label>
                  <input placeholder="NIC / Passport Number" rows="4" cols="50" id="message-6d59" name="nicPassportNumber" class="u-border-1 u-border-grey-30 u-grey-10 u-input u-input-rectangle u-radius-29" type="text">
                </div>
                <div class="u-align-left u-form-group u-form-submit">
                  <input type="submit" value="Search" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-grey-50 u-radius-30 u-white u-btn-1">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <style class="u-overlap-style">.u-overlap:not(.u-sticky-scroll) .u-header {
}</style>

{% endblock %}