{% extends 'common/main.html' %}

{% load static %}


{% block content %}

              {% if messages %}
              <div class="alert success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {% for message in messages %}
                        <center>{{ message }}</center>
                {% endfor %}
              </div>
              {% endif %}

    <section class="u-clearfix u-grey-40 u-section-1" id="sec-97e7">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-col">
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-1">
                    <div class="u-container-layout u-container-layout-1">
                      <a href="{%  url 'navigate-to-search' %}" class="u-border-none u-btn u-btn-round u-button-style u-grey-25 u-hover-black u-radius-50 u-btn-2">Search<br>Member<br>
                      </a>
                    </div>
                  </div>
                  <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-2">
                    <div class="u-container-layout u-container-layout-2">
                      <a href="{%  url 'navigate-to-search' %}" class="u-border-none u-btn u-btn-round u-button-style u-grey-25 u-hover-black u-radius-50 u-btn-2">Change/Edit<br>Member
                      </a>
                    </div>
                  </div>
                  <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-3">
                    <div class="u-container-layout u-container-layout-3">
                      <a href="{%  url 'navigate-to-search' %}" class="u-border-none u-btn u-btn-round u-button-style u-grey-25 u-hover-black u-radius-50 u-btn-3">Remove<br>Member
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-4">
                    <div class="u-container-layout u-container-layout-4">
                      <a href="{%  url 'navigate-to-member-details' %}" class="u-border-none u-btn u-btn-round u-button-style u-grey-25 u-hover-black u-radius-50 u-btn-4">Add<br>Member
                      </a>
                    </div>
                  </div>
                  <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-5">
                    <div class="u-container-layout u-container-layout-5">
                      <a class="u-border-none u-btn u-btn-round u-button-style u-grey-25 u-hover-black u-radius-50 u-btn-5">
                        <br>Other<br>
                      </a>
                    </div>
                  </div>
                  <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-6">
                    <div class="u-container-layout u-container-layout-6">
                      <a class="u-border-none u-btn u-btn-round u-button-style u-grey-25 u-hover-black u-radius-50 u-btn-6">Member<br>Database
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}
