.u-section-1 .u-sheet-1 {
  min-height: 1304px;
}

.u-section-1 .u-group-1 {
  width: 1108px;
  min-height: 1190px;
  background-image: none;
  height: auto;
  margin: 57px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-group-2 {
  width: 242px;
  min-height: 970px;
  height: auto;
  margin: 66px auto 0 96px;
}

.u-section-1 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 27px 3px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 37px auto 0 106px;
}

.u-section-1 .u-text-4 {
  margin: 36px 0 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 28px 0 0 auto;
}

.u-section-1 .u-text-6 {
  margin: 111px 0 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 38px 0 0 auto;
}

.u-section-1 .u-text-8 {
  margin: 33px 0 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 40px -2px 0 29px;
}

.u-section-1 .u-text-10 {
  margin: 30px 4px 0 auto;
}

.u-section-1 .u-text-11 {
  margin: 38px 0 0 auto;
}

.u-section-1 .u-text-12 {
  margin: 36px 0 0 auto;
}

.u-section-1 .u-text-13 {
  margin: 29px -11px 0 11px;
}

.u-section-1 .u-text-14 {
  margin: 35px 4px 0 auto;
}

.u-section-1 .u-text-15 {
  margin: 27px 0 0 51px;
}

.u-section-1 .u-text-16 {
  margin: 41px 3px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 1095px;
  margin: -986px 79px 0 363px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-form-group-13 {
  margin-left: 0;
}

.u-section-1 .u-form-group-14 {
  margin-left: 0;
}

.u-section-1 .u-form-group-15 {
  margin-left: 0;
}

.u-section-1 .u-form-group-16 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-size: 1.25rem;
  padding: 20px 61px 20px 60px;
}

.u-section-1 .u-group-3 {
  width: 376px;
  min-height: 70px;
  height: auto;
  margin: -79px 92px 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  align-self: flex-end;
  margin: 0 292px 0 0;
  padding: 23px 36px 24px 35px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -68px 0 0 auto;
  padding: 23px 25px 24px 24px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-9 {
    margin-right: 777px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 777px;
  }

  .u-section-1 .u-form-1 {
    width: 600px;
    margin-right: 0;
    margin-left: 274px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 411px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 78px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }

  .u-section-1 .u-group-3 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 236px;
  }
}